:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #242424;
}

.container {
  width: 100%;
  height: 600px;
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.modelChat {
  text-align: left;
}

.userChat {
  text-align: right;
}

.userChat,
.modelChat {
  padding: 8px; /* Adicione um preenchimento para melhorar a aparência */
  margin-bottom: 8px; /* Adicione um espaço entre as mensagens */
  display: flex;
  align-items: center;
  margin-right: 8px; 
}

.message{
  border: 2px solid #535353;
}

.input-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px;
  justify-content: space-between;
}

.input {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
}

.neon-button {
  position: relative;
  display: inline-block;
  padding: 6px 20px;
  margin-right: 25px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 2px solid #1a1a1a;
  background-color: #1a1a1a;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}

.neon-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #1a1a1a 0%, transparent 80%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.neon-button:hover {
  background-color: #213547;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.message-text {
  display: flex;
  align-items: center;
  height: 100%; /* Garante que a altura da div seja 100% para a centralização vertical */
  padding-left: 20px;
}


.userIcon,
.botIcon {
  width: 20px; /* Defina o tamanho desejado para os ícones */
  height: 20px;
}

.messages{
  height: 100%;
}